---
spring:
  profiles:
    active: default
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://localhost:1433;databaseName=spring_db;encrypt=true;trustServerCertificate=true
    username: sa
    password: '@Potter77'
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
    show-sql: true
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /
server:
  port: 8080